.home_container_header {
  display: flex;
  height: 10vw;

  &_logo {
    width: 10%;
    display: flex;
    align-items: center;

    & img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      display: flex;
    }
  }

  &_left_nav {
    width: 70%;
    display: flex;
    flex-direction: row;

    & nav {
      width: 100%;

      & ul {
        display: flex;
        align-items: center;
        height: 100%;

        & li {
          margin: 0 1rem;

          a {
            position: relative;
            display: inline-block;
            color: white;
            text-decoration: none;
            overflow: hidden;
            font-size: 1.5rem;
            font-weight: bold;
            background: $reverse_linear_gradient_text;
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;

            &:hover {
              background: $linear_gradient_text;
              background-clip: text;
              -webkit-background-clip: text;
              color: transparent;
              @include box-shadow_buttons;
            }

            &::before {
              content: '';
              position: absolute;
              top: 0;
              left: -100%;
              width: 100%;
              height: 100%;
              background: $linear_gradient_text;
              z-index: 1;
              pointer-events: none;
              mix-blend-mode: lighten;
            }

            &:hover::before {
              animation: wash-text 1.5s ease-in-out forwards;
            }
          }
        }
      }
    }
  }

  &_social_medias {
    width: 20%;
    display: flex;
    margin-right: 140px;

    & nav {
      width: 100%;

      & ul {
        display: flex;
        align-items: center;
        height: 100%;
        justify-content: flex-start;

        & li {
          margin: 0 1rem;

          & a {
            padding: 10px 10px 10px 10px;
            font-size: 1.9rem;
            position: relative;
            color: $primary_color;
            display: inline-block;
            overflow: hidden;
            background: $linear_gradient_text;
            background-clip: text;
            -webkit-background-clip: text;

            &::before {
              content: '';
              position: absolute;
              top: 0;
              left: -100%;
              width: 100%;
              height: 100%;
              background: $linear_gradient_text;
              z-index: 1;
              transition: none;
              pointer-events: none;
              mix-blend-mode: screen;
            }

            &:hover::before {
              animation: wash-icon 1s ease-in-out forwards;
            }

            &:hover {
              color: $primary_color;
              @include box-shadow_buttons;
            }
          }
        }
      }
    }
  }
}