.theme_switch_container{
    // border: solid red 2px;
    display: flex;
    justify-content: center;
    width: 98%;
    margin: 0 auto;
}

.theme_switch_subcontainer{
    // border: solid blue 2px;
}