.contact_container {
    color: white;

    &_subcontainer {
        width: 80%;
        margin: 0 auto;
        margin: 1.2rem auto 4rem auto;

        &_titleAndText {
            color: white;

            & h1 {
                @include sections_title;
                @include linearGradientText;
                @include textUnderline;
                margin-bottom: 2rem;
            }

            & p {
                @include linearGradientText;
                font-size: 1.5rem;
                margin: 1rem;
            }
        }

        &_form_container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin: 2rem auto;

            &_firstName {
                min-width: 50%;
                padding: 0.5rem;
            }

            &_lastName {
                min-width: 50%;
                padding: 0.5rem;

            }

            &_email {
                min-width: 100%;
                padding: 0.5rem;
            }

            &_message {
                min-width: 100%;
                padding: 0.5rem;

                p {
                    text-align: end;
                    font-size: 1.2rem;
                    @include reverseLinearGradientText;
                }
            }

            & input,
            textarea {
                width: 100%;
                padding: 1rem;
                max-height: 20rem;
                max-width: 100%;
                min-height: 3rem;
                min-width: 50%;
                border-radius: 15px;
                font-size: 1rem;
            }

            & input:focus,
            textarea:focus {
                background-color: #00aaff;
                color: white;
                font-size: 1.5rem;
                font-weight: 700;
            }

            & input:focus::placeholder,
            textarea:focus::placeholder {
                background-color: #00aaff;
                color: white;
                font-size: 1.6rem;
                font-weight: 700;
            }

            & input::placeholder,
            textarea::placeholder {
                font-size: 1.2rem
            }

            & button {
                @include linkMedium;
                width: 10rem;
                margin-top: 2rem;


                &:hover {
                    @include linkHover;
                    @include box_shadow_buttons;
                }

                &:active {
                    @include linkActive;
                }
            }
        }
    }

    // hide labels but keep it for googles readers robots 
    .screen_readers-only {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;
        border: 0;
        clip: rect(0, 0, 0, 0);
        clip-path: inset(50%);
        white-space: nowrap;
    }

    &_infos {
        border-radius: 15px;
        display: flex;
        width: 80%;
        margin: 0 auto;
        padding: 4rem 0 6rem 0;

        justify-content: space-between;

        &_email {
            @include contactInfos;
            align-items: flex-start;
        }

        &_phone {
            @include contactInfos;
        }

        &_adress {
            @include contactInfos;
            align-items: flex-end;
        }
    }

    .contact_icon {
        font-size: 1.6rem;
        margin-right: 15px;
        text-decoration: underline solid blue 4px;

    }

    & hr {
        width: 20%;
        margin: 0 auto;
        border-radius: 15px;
        border: none;
        height: 2px;
        background-color: #00aaff;
        border-radius: 15px;
    }

    .form_validation_button {
        width: 100%;
        justify-content: center;
        display: flex;
    }
}