$polices_textes : 'Poppins', sans-serif;
$fontWeight: 800;
$linear_gradient_text : linear-gradient(120deg, #ffffff, #00aaff, #ffffff);
$reverse_linear_gradient_text : linear-gradient(120deg, #00aaff, #ffffff, #00aaff);
$primary_color : rgb(78, 206, 248);
$secondary_color: white;